body {
	background: #f5f5f5
}

header {
	height: 2.6666rem;
	background: #ff4400;
	position: relative;
	width: 100%;
	z-index: 1000
}

header h1 {
	font-size: 1.3037rem;
	line-height: 2.6666rem;
	text-align: center;
	color: #fff;
}

header .pl .back {
	font-size: .88888rem;
	height: 2.6666rem;
	line-height: 2.6666rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display: block;
	color: #fff;
	background: url(../images/icons/back.png) no-repeat .3rem center;
	background-size: .4rem .8rem;
}

header .pl .back:active, header .pl .back:focus {
	webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

.swiper-banner-pagination {
	bottom: 0.6815rem
}

.swiper-banner-pagination .swiper-pagination-bullet {
	width: .3555rem;
	height: .35556rem;
	opacity: .3
}

.swiper-container-horizontal>.swiper-banner-pagination .swiper-pagination-bullet
	{
	margin: 0 .2074rem
}

.swiper-banner-pagination .swiper-pagination-bullet-active {
	opacity: .75;
	background: #000000;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-banner {
	height: 8.6rem;
	position: relative;
}

.swiper-banner a {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	outline-offset: 0;
}

.swiper-banner a img {
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	background: url(../images/default_loadad.png) no-repeat center center;
	background-size: cover
}

.Maintab {
	height: 2.6666rem;
	background: #ffffff;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
	position: relative;
}

.Maintab ul {
	width: 100%;
	height: 100%;
}

.Maintab li {
	width: 44%;
	text-align: center;
	display: inline-block;
	outline: 0;
	padding-bottom: 2px;
	font-size: 1rem;
	height: 2.6074rem;
	line-height: 2.6074rem;
	margin: 0 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Maintab .vline {
	background: #e1e1e1;
	height: 53.333%;
	width: 1px;
	display: inline-block;
	position: absolute;
	top: 0.6662rem;
	left: 50%;
	margin-left: 0px;
}

a {
	color: #333;
	text-decoration: none;
	outline: 0;
}

.Maintab li.on {
	border-bottom: 2px solid #ff4400;
	padding-bottom: 0
}

.Maintab li.on a {
	color: #ff764c;
}

#main {
	margin: 0;
	width: 100%;
	position: fixed;
	top: 14rem;
	bottom: 0px;
	overflow: auto !important;
	_position: relative;
	_top: 0px;
	_OVERFLOW-Y: auto;
	_OVERFLOW-X: auto;
	_height: 100%;
}

#inhot #main {
	top: 11.3rem;
}

#inhot .items-con-bottom {
	text-align: center;
}

.swiper-items {
	width: 100%;
	overflow: auto;
	height: 100%
}

.swiper-items .swiper-items-content {
	padding: 0 .56rem .56rem .56rem;
	overflow: hidden;
}

.swiper-items .items {
	float: left;
	display: inline-block;
	width: 33.333%;
	position: relative;
	color: #878787;
}

.swiper-items .items .items-con {
	margin: 0 .3rem .3rem .3rem;
	background: #fff;
	border: 1px solid #e1e1e1;
	margin-top: .6rem;
	margin-bottom: 0;
}

.swiper-items .items .items-con p {
	
}

.swiper-items .items .items-con-top {
	padding: .4rem;
	border-bottom: dashed #e1e1e1 1px;
}

.swiper-items .items .items-con-top:active, .swiper-items .items .items-con-top:focus
	{
	background: #f5f5f5;
}

.swiper-items .items .items-con-bottom {
	background: #f9f9f9;
	height: 1.8rem;
	line-height: 1.8rem;
	padding: 0 .3rem;
	position: relative;
}

.swiper-items .quick-content .items .items-con-bottom, .swiper-items .inhot-content .items .items-con-bottom
	{
	height: auto;
	padding: 0;
	line-height: 0;
	text-align: center;
	padding-top: .44444rem;
	padding-bottom: .44444rem;
}

.swiper-items .items .items-con-bottom .snapUp {
	position: absolute;
	right: .3rem;
	top: .3rem
}

.swiper-items .items .items-con .title {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.swiper-items .items .items-con .img {
	text-align: center;
	height: 5.9rem;
	overflow: hidden;
}

.swiper-items .items .items-con img {
	height: 5.9rem;
	width: auto;
	background: url(../images/defaulte_load.png) no-repeat center center;
	background-size: cover
}

.save {
	height: .829629rem;
	margin-left: .7rem;
	line-height: .829629rem;
	background-color: #7bc00e;
	display: inline-block;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	position: relative;
	z-index: 1000;
}

.save:before, .save:after {
	background-color: rgba(0, 0, 0, 0);
	background: url(../images/icons/01.png) no-repeat;
	background-size: cover;
	height: .829629rem;
	width: .59259rem;
	top: 0;
	left: -.59259rem;
	content: "";
	display: block;
	position: absolute;
	z-index: 100;
}

.save:after {
	width: 5px;
	left: auto;
	right: -5px;
	background: url(../images/icons/02.png) no-repeat;
	background-size: cover;
}

.items i.i-rob {
	position: absolute;
	right: .65rem;
	top: .4rem
}

.i-sale-off, .i-time-off {
	width: 6.0145rem;
	height: 3.9407rem;
	left: 50%;
	margin-left: -3.0725rem;
	top: 50%;
	margin-top: -4rem
}

.i-sale-off {
	position: absolute;
	background: url(../images/icons/sale_off.png) no-repeat;
	background-size: cover;
}

.i-time-off {
	position: absolute;
	background: url(../images/icons/time_off.png) no-repeat;
	background-size: cover;
}

.progress {
	width: 3.25rem;
	height: .237rem;
	display: inline-block;
	background: #e3e3e3;
	border-radius: .237rem;
	overflow: hidden;
	vertical-align: middle;
	margin: 0;
}

.progress span {
	background: #ff4400;
	display: block;
	height: 100%;
}

.center-alert {
	width: 10.82rem;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -5.41rem;
}

.center-alert .img {
	text-align: center;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 2rem;
}

.loading-foot-false, .loading-foot {
	width: 100%;
	height: 2.7555rem;
	line-height: 2.7555rem;
	clear: left;
	display: block;
	text-align: center;
	padding: 1rem 0 .44rem 0
}

.loading-foot-false-content {
	display: inline-block;
	padding-left: 2.9333rem;
	background: url(../images/remind/friendly.png) no-repeat left center;
	background-size: 2.7555rem 2.7555rem
}

.loading-foot-content {
	display: inline-block;
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
	vertical-align: middle;
}

i.i-loading-foot {
	background: url(../images/default_ptr_rotate.png) no-repeat;
	background-size: 1rem 1rem;
	transform: rotate(0deg);
	width: 1rem;
	height: 1rem;
	animation: rotate .5s infinite linear;
	-webkit-animation: rotate .5s infinite linear;
	vertical-align: top;
}

.rotate360 {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.tsh-loading-wrap {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-color: rgba(0, 0, 0, .5);
	position: relative;
	position: fixed;
	z-index: 20000;
}

@
keyframes rotate /* Safari and Chrome */ { 0%{
	transform: rotate(0deg);
}

100%{
transform
:rotate(360deg)
;

  
}
}
@
-webkit-keyframes rotate /* Safari and Chrome */ { 0%{
	-webkit-transform: rotate(0deg);
}

100%{
-webkit-transform
:rotate(360deg)
;

  
}
}
.tsh-loading {
	width: 9.52rem;
	height: 7.763rem;
	display: block;
	background-image: url(../images/remind/tsh_loading.png);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -3.882rem;
	margin-left: -4.76rem;
	background-size: 19.04rem 15.526rem;
	border-radius: .6rem;
	animation: loading .5s infinite step-end;
	-webkit-animation: loading .5s infinite step-end;
}

@
keyframes loading { 0% {
	background-position: left top;
}

33%
{
background-position
:
 
right
 
top
;

  
}
66%
{
background-position
:
 
left
 
bottom
;

    
}
100%
{
background-position
:
 
right
 
bottom
;

  
}
}
@
-webkit-keyframes loading /* Safari and Chrome */ { 0% {
	background-position: left top;
}

33%
{
background-position
:
 
right
 
top
;

  
}
66%
{
background-position
:
 
left
 
bottom
;

    
}
100%
{
background-position
:
 
right
 
bottom
;

  
}
}
.cbbfixed {
	position: fixed;
	right: 2rem;
	transition: bottom ease .3s;
	bottom: -3rem;
	z-index: 999999999999999;
}

.cbbtn {
	width: 3rem;
	height: 3rem;
	display: block;
	background: url(../images/totop.png) no-repeat;
	background-size: cover;
}

.gotop {
	transition: background-color ease .3s;
	margin-top: 1px;
	opacity: .75
}

.gotop:active {
	opacity: 1
}