@media ( min-width :321px) {
	html {
		font-size: 10px !important;
	}
}

@media ( min-width :385px) {
	html {
		font-size: 12px !important;
	}
}

@media ( min-width :481px) {
	html {
		font-size: 15px !important;
	}
}

@media ( min-width :641px) {
	html {
		font-size: 20px !important;
	}
}

@media ( min-width :769px) {
	html {
		font-size: 24px !important;
	}
}

@media ( min-width :1025px) {
	html {
		font-size: 32px !important;
	}
}

@media ( min-width :1081px) {
	html {
		font-size: 33.75px !important;
	}
}

@media ( min-width :1281px) {
	html {
		font-size: 40px !important;
	}
}

@media ( min-width :1367px) {
	html {
		font-size: 42px !important;
	}
}

@media ( min-width :1440px) {
	html {
		font-size: 45px !important;
	}
}

@media ( min-width :1600px) {
	html {
		font-size: 50px !important;
	}
}

@media ( min-width :1920px) {
	html {
		font-size: 60px !important;
	}
}